/* Write your CSS code here */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-image {
  width: 50%;
}
.about-text {
  font-family: 'Roboto';
  color: #6d396b;
  font-weight: 500;
  font-size: 50px;
}
